

/* J'identifie ma table, je lui donne une couleur pour la lisibilité et un margin top pour qu'elle ne colle pas au header */


#conteneur{
	margin-top: 90px;	
}

#myDataTab{
	background-color : white;
}

#myChart{
	background-color: white;
	height: 100%;
	padding-bottom: 10px;
	width: 100%;
	margin: auto;
}

#divBouton {
	margin-top:10px;
}