@font-face {
    font-family: "gotham";
    src: url('_static/fonts/Gotham-XLight.otf');
}

body{
	font-family: "gotham";
	text-align: justify;
	background-image : none;
}


#conteneur{
	margin-top: 90px;	
}

.header{
	position: absolute;
	top: 0px;
}

#myDataTab{
	background-color : white;
	width : 75%;
	margin-left: 12%;
}

#myChart{
	background-color: white;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 50px;
}

.btn {	
	margin-left: 43%;
	margin-bottom: 10px;
	position : relative;
	z-index: 2;

}